{% load static %}
{% load carts_tag %}

{% user_carts request as carts%}
      <ul class="basket__list">
        {% if carts %}
        {% for cart in carts  %}
        <li class="basket__list-item">
          <div class="basket__list-item-wrapper">
            <p class="basket__item-title">{{cart.project.name}}</p>
            <div class="basket__item-price-wrapper">
              <span class="basket__item-price">{{cart.project.sell_price_project}}₽</span>
            </div>
            <!-- ССЫЛКА - УДАЛИТЬ -->
            {% comment %}
              <a href="{% url "cart:cart_remove" cart.id %}" class="basket__button-delete" type="button">
            {% endcomment %}
            <form action="{% url 'cart:cart_remove' cart_id=cart.id %}" method="post" class="remove-from-cart">
            
                {% csrf_token %}
                <button type="submit">
              <svg
                width="20.000000"
                height="21.000000"
                viewBox="0 0 20 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <path
                  id="Vector"
                  d="M0.79 19L18.75 1.14M0.83 1L18.79 18.85"
                  stroke="#18181B"
                  stroke-opacity="1.000000"
                  stroke-width="2.000000"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </form>
            {% comment %}
              </a>
            {% endcomment %}
          </div>
        </li>
        {% endfor %}
        {% else %}
        <a
              href="{% url "catalog:index" %}"
              class="calculate-section__button button-show"
            >
              Корзина пуста. Нажми сюда что бы перейти в каталог проектов
            </a>
        {% endif %}
        
      </ul>


