{% extends "base.html" %}
{% load static %}
{% block content %}
      <!-- КОНТЕЙНЕР ДЛЯ ВСЕХ ШАГОВ (ИХ 2: ВХОД / РЕГИСТРАЦИЯ) -->
      <section class="authorization-section container">
        <!-- НАЧАЛО - СЕКЦИИ ВХОД -->
        <article class="authorization" id="login">
          <div class="authorization__wrapper">
            <div class="authorization__wrapper-top">
              <!-- Переключатели ВХОД / РЕГИСТРАЦИЯ -->
              <div class="authorization__buttons">
                <!-- Кнопка РЕГИСТРАЦИЯ -->
                <a
                  href="{% url "user:registration" %}"
                  class="authorization__buttons-button authorization__button-registration"
                  data-action="registr"
                >
                  Регистрация
                </a>
                <!-- Кнопка ВХОД -->
                <a
                  href="#"
                  class="authorization__buttons-button authorization__button-entrance authorization__button--active"
                  data-action="entrance"
                >
                  Вход
                </a>
              </div>
            </div>
            <div class="authorization__wrapper-bottom">
              <!-- ФОРМА ДЛЯ РЕГИСТРАЦИИ -->
              <form action="{% url "user:login" %}" method= "post" class="authorization__form">
                {% csrf_token %}
                {% if request.GET.next %}
                <input type="hidden" name = "next" value = {{request.GET.next}}>
                {% endif %}

                {% if form.non_field_errors %}
                <p>{{form.non_field_errors}}</p>
                {% endif %}
                <!-- ПОЛЕ НОМЕР ТЕЛЕФОНА -->
                <input
                id = "id_username"
                type="text"
                class="authorization__input"
                value = "{% if form.username.value %}{{form.username.value}}{% endif %}"
                name = "username"
                placeholder="Номер телефона или e-mail"
                required
              />
              <!-- ПОЛЕ - ПАРОЛЬ -->
              <input
                id = "id_password"
                type="password"
                class="authorization__input"
                name = "password"
                placeholder="Пароль"
                required
              />




                {% comment %} <!-- ПОЛЕ НОМЕР ТЕЛЕФОНА -->
                {{form.username}}
                  <!-- ПОЛЕ - ПАРОЛЬ -->
                  {{form.password}} {% endcomment %}

                {% comment %}
                  <!-- ПОЛЕ НОМЕР ТЕЛЕФОНА -->
                  <input
                    id = "username"
                    type="text"
                    class="authorization__input"
                    placeholder="Номер телефона или e-mail"
                    required
                  />
                  <!-- ПОЛЕ - ПАРОЛЬ -->
                  <input
                    id = "password"
                    type="password"
                    class="authorization__input"
                    placeholder="Пароль"
                    required
                  />
                  {% endcomment %}

                  <!-- Кнопка ВОЙТИ -->
                  <button class="authorization__button">Войти</button>
  
                  <!-- Кнопка для ВОССТАНОВЛЕНИЯ ПАРОЛЯ -->
                  <a href="{% url "user:recovery_account" %}" class="authorization__link"
                    >Восстановить пароль</a
                  >
      
              </form>
              <!-- Конец Формы -->
            </div>
          </div>
        </article>
        <!-- КОНЕЦ - СЕКЦИИ ВХОД -->
      </section>


{% endblock content %}

{% block js %}
      <script src="{% static "authorization.js" %}"></script>
{% endblock js %}