{% extends "base.html" %}
{% load static %}
{% block content %}
      <section class="authorization-section container">
        <article class="authorization" id="login">
          <div class="authorization__wrapper">
            <div class="authorization__wrapper-top">
              <div class="authorization__buttons">
                <button
                  type="button"
                  class="authorization__buttons-button authorization__button-registration"
                  data-action="registr"
                >
                  Регистрация
                </button>
                <button
                  type="button"
                  class="authorization__buttons-button authorization__button-entrance authorization__button--active"
                  data-action="entrance"
                >
                  Вход
                </button>
              </div>
            </div>
            <div class="authorization__wrapper-bottom">
              <form action="" class="authorization__form">
                <input
                  type="text"
                  class="authorization__input"
                  placeholder="Номер телефона или e-mail"
                  required
                />
                <input
                  type="password"
                  class="authorization__input"
                  placeholder="Пароль"
                  required
                />
                <button class="authorization__button">Войти</button>
                <a href="./recovery-account.html" class="authorization__link"
                  >Восстановить пароль</a
                >
              </form>
            </div>
          </div>
        </article>
        <article class="authorization" hidden id="registr">
          <div class="authorization__wrapper">
            <div class="authorization__wrapper-top">
              <div class="authorization__buttons">
                <button
                  type="button"
                  class="authorization__buttons-button authorization__button-registration authorization__button--active"
                  data-action="registr"
                >
                  Регистрация
                </button>
                <button
                  type="button"
                  class="authorization__buttons-button authorization__button-entrance"
                  data-action="entrance"
                >
                  Вход
                </button>
              </div>
            </div>
            <div class="authorization__wrapper-bottom">
              <form action="" class="authorization__form">
                <input
                  type="text"
                  class="authorization__input"
                  placeholder="Имя"
                  required
                />
                <input
                  type="text"
                  class="authorization__input"
                  placeholder="E-mail"
                  required
                />
                <input
                  type="tel"
                  class="authorization__input"
                  placeholder="+ (   ) -- -- -- --"
                  required
                />
                <input
                  type="password"
                  class="authorization__input"
                  placeholder="Пароль"
                  required
                />
                <button class="authorization__button">
                  Зарегестрироваться
                </button>
                <a href="./recovery-account.html" class="authorization__link"
                  >Восстановить пароль</a
                >
              </form>
            </div>
          </div>
        </article>
      </section>

    {% endblock content %}

{% block js %}
<script src="{% static "authorization.js" %}"></script>
{% endblock js %}
