{% extends "base.html" %}
{% load static %}
{% block content %}
      <!-- КОНТЕЙНЕР ДЛЯ ВСЕХ ШАГОВ (ИХ 2: ВХОД / РЕГИСТРАЦИЯ) -->
      <section class="authorization-section container">
        <!-- НАЧАЛО СЕКЦИИ - ЗАРЕГИСТРОВАТЬСЯ -->
        <article class="authorization" id="registr">
          <div class="authorization__wrapper">
            <div class="authorization__wrapper-top">
              <!-- Переключатели ВХОД / РЕГИСТРАЦИЯ -->
              <div class="authorization__buttons">
                <!-- Кнопка РЕГИСТРАЦИЯ -->
                <a
                  href="#"
                  class="authorization__buttons-button authorization__button-registration authorization__button--active"
                  data-action="registr"
                >
                  Регистрация
                </a>
                <!-- Кнопка ВХОД -->
                <a
                  href="{% url "user:login" %}"
                  class="authorization__buttons-button authorization__button-entrance"
                  data-action="entrance"
                >
                  Вход
                </a>
              </div>
            </div>
            <div class="authorization__wrapper-bottom">
              <!-- ФОРМА ДЛЯ РЕГИСТРАЦИИ -->
              {% comment %} <form action="{% url 'user:registration' %}" method="post" class="authorization__form">
                {% csrf_token %}
                
                <!-- ПОЛЕ - ИМЯ -->
                <input id="id_username" type="text" class="authorization__input" value="{{ form.username.value|default_if_none:'' }}" placeholder="Имя" name="username" required />
                {% if form.username.errors %}
                    <div>{{ form.username.errors }}</div>
                {% endif %}
                
                <!-- ПОЛЕ - ПОЧТА-->
                <input id="id_email" type="email" class="authorization__input" value="{{ form.email.value|default_if_none:'' }}" placeholder="E-mail" name="email" required />
                {% if form.email.errors %}
                    <div>{{ form.email.errors }}</div>
                {% endif %}
                
                <!-- ПОЛЕ - НОМЕР ТЕЛЕФОНА -->
                <input id="id_phone" type="tel" class="authorization__input" value="{{ form.phone.value|default_if_none:'' }}" placeholder="+ (   ) -- -- -- --" name="phone" required />
                {% if form.phone.errors %}
                    <div>{{ form.phone.errors }}</div>
                {% endif %}
                
                <!-- ПОЛЕ - ПАРОЛЬ -->
                <input id="id_password1" type="password" class="authorization__input" value="" placeholder="Пароль" name="password1" required />
                {% if form.password1.errors %}
                    <div>{{ form.password1.errors }}</div>
                {% endif %}
                
                <!-- ПОЛЕ - ПАРОЛЬ ПОДТВЕРЖДЕНИЕ -->
                <input id="id_password2" type="password" class="authorization__input" value="" placeholder="Подтвердите Пароль" name="password2" required />
                {% if form.password2.errors %}
                    <div>{{ form.password2.errors }}</div>
                {% endif %}
                
                <!-- Кнопка ЗАРЕГИСТРИРОВАТЬСЯ -->
                <button class="authorization__button">Зарегистрироваться</button>
                
                <!-- Кнопка ВОССТАНОВИТЬ ПАРОЛЬ -->
                <a href="{% url 'user:recovery_account' %}" class="authorization__link">Восстановить пароль</a>
            </form> {% endcomment %}
              
                <form action="{% url "user:registration" %}" method = "post" class="authorization__form">
                  {% csrf_token %}
  
                  <!-- ПОЛЕ - ИМЯ -->
                  {% if form.username.errors %}
                  <div style="color: red;"> {{form.username.errors}} </div>
                  {% endif %}
                  <input
                    id = "id_username"
                    type="text"
                    class="authorization__input"
                    value = "{% if form.username.value %}{{form.username.value}}{% endif %}"
                    placeholder="Имя"
                    name = "username"
                    required
                  />
                  {% if form.email.errors %}
                  <div style="color: red;"> {{form.email.errors}} </div>
                  {% endif %}
                  <!-- ПОЛЕ - ПОЧТА-->
                  <input
                    id = "id_email"
                    type="email"
                    class="authorization__input"
                    value = "{% if form.email.value %}{{form.email.value}}{% endif %}"
                    placeholder="E-mail"
                    name = "email"
                    required
                  />
                  {% if form.phone.errors %}
                  <div style="color: red;"> {{form.phone.errors}} </div>
                  {% endif %}
                  <!-- ПОЛЕ - НОМЕР ТЕЛЕФОНА -->
                  <input
                    id = "id_phone"
                    type="tel"
                    class="authorization__input"
                    value = "{% if form.phone.value %}{{form.phone.value}}{% endif %}"
                    placeholder="+ (   ) -- -- -- --"
                    name = "phone"
                    required
                  />
                  {% if form.password1.errors %}
                  <div style="color: red;"> {{form.password1.errors}} </div>
                  {% endif %}
                  <!-- ПОЛЕ - ПАРОЛЬ-->
                  <input
                    id = "id_password1"
                    type="password"
                    class="authorization__input"
                    value = "{% if form.password1.value %}{{form.password1.value}}{% endif %}"
                    placeholder="Пароль"
                    name = "password1"
                    required
                  />
                  
                  {% if form.password2.errors %}
                  <div style="color: red;"> {{form.password2.errors}} </div>
                  {% endif %}
                  <!-- ПОЛЕ - ПАРОЛЬ-->
                  <input
                    id = "id_password2"
                    type="password"
                    class="authorization__input"
                    value = "{% if form.password2.value %}{{form.password2.value}}{% endif %}"
                    placeholder=" Подтвердите Пароль"
                    name = "password2"
                    required
                  />
                  
                  <!-- Кнопка ЗАРЕГИСТРОВАТЬСЯ -->
                  <button class="authorization__button">
                    Зарегестрироваться
                  </button>
                  <!-- Кнопка ВОССТАНОВИТЬ ПАРОЛЬ -->
                  <a href="{% url "user:recovery_account" %}" class="authorization__link"
                    >Восстановить пароль</a
                  >
                </form>
              
              <!-- КОНЕЦ ФОРМЫ ДЛЯ РЕГИСТРАЦИИ -->
            </div>
          </div>
        </article>
        <!-- КОНЕЦ СЕКЦИИ - ЗАРЕГИСТРОВАТЬСЯ -->
      </section>

{% endblock content %}

{% block js %}
      <script src="{% static "authorization.js" %}"></script>
{% endblock js %}