{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static "css/main.css" %}" />
  <title>Оплата</title>
</head>
<body>
  <div class="wrapper wrapper-grey">
    <div class="pay-section container">

      <form class="pay-form" action="{% url "users:pay" %}" method = "post">
        {% csrf_token %}
        <div class="pay-form__wrapper">
          <img width="48" height="48" class="pay-form__image" src="{% static "source/icons/pay-icon.svg" %}" alt="" />
          <fieldset class="pay-form__fieldset">
            <legend class="pay-form__title-wrapper">
              <h2 class="pay-form__title">Введите данные для оформления заказа</h2>
            </legend>

            <label class="pay-form__label" for="{{form.name.id_for_label}}">
              Имя
              {% comment %} <input type="text" id="name" class="pay-form__input" placeholder="Artem Zaitsev" required /> {% endcomment %}
              {{form.name}}
            </label>
            <label class="pay-form__label" for="{{form.email.id_for_label}}">
              Почта
              {% comment %} <input type="email" id="email" class="pay-form__input" placeholder="Artemzaitsev@gmail.com" inputmode="email" required /> {% endcomment %}
              {{form.email}}
            </label>
            <label class="pay-form__label" for="{{form.promocod.id_for_label}}">
              Промокод
              {% comment %} <input type="text" id="promo" class="pay-form__input" placeholder="ZOOA123" /> {% endcomment %}
              {{form.promocod}}
            </label>
          </fieldset>
          
            {% comment %}
              <div class="pay-form__wrapper-row">
                <label class="pay-form__label" for="name-in-card">
                  Имя на карте
                  <input type="text" id="name-in-card" class="pay-form__input" placeholder="Artem Zaitsev" autocomplete="cc-name" required />
                </label>
                <label class="pay-form__label" for="card-date">
                  М/Г
                  <input type="text" id="card-date" class="pay-form__input pay-form__input--small" placeholder="00/0000" autocomplete="cc-exp" inputmode="numeric" minlength="6" maxlength="7" required />
                </label>
              </div>
              <div class="pay-form__wrapper-row">
                <label class="pay-form__label" for="card-number">
                  Номер карты
                  <input type="text" id="card-number" class="pay-form__input" placeholder="1234 1234 1234 1234" autocomplete="cc-number" inputmode="numeric" pattern="[0-9 ]+" required />
                </label>
                <label class="pay-form__label" for="cvv">
                  CVV
                  <input type="password" id="cvv" class="pay-form__input pay-form__input--small" placeholder="•••" inputmode="numeric" minlength="3" maxlength="4" required />
                </label>
              </div>
            {% endcomment %}
          <div class="pay-form__actions">
            <a href="{% url "users:users_cart" %}" class="pay-form__button button button--base" >Закрыть</a>
            <button type="submit" class="pay-form__button button button--accent">Оплатить</button>
          </div>
          
          
        </div>
      </form>
      
    </div>
   {% comment %}
     <!-- Начало: Разметка "Корзина" -->
     {% include "carts/cart.html" %}
     <!-- Конец: Разметка "Корзина" -->
   {% endcomment %}
  </div>
  <script src="{% static "pay.js" %}"></script>
</body>
</html>