{% extends "base.html" %}
{% load static %}
{% load carts_tag %}
{% block src %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
{% endblock src %}

{% block content %}
{% user_carts request as carts%}
<main class="basket-page">
  <!-- Начало: Секция "Корзина" -->
  <section class="basket container">
    <h2 class="basket__title">Корзина</h2>
    <div class="basket__inner">
      <!-- Начало: Разметка "Корзина" -->
      {% include "carts/cart.html" %}
      <!-- Конец: Разметка "Корзина" -->
      <div class="order-price">
        <div class="order-price__wrapper">
          <p class="order-price__title"><b>Сумма заказа</b></p>
          <div class="order-price__row-amount">
            <span class="order-price__amount">{{carts.total_quantity}} товара на сумму</span>
            <span class="order-price__amount-price">{{carts.total_price}}₽</span>
          </div>
          <div class="order-price__row-total">
            <span class="order-price__total-title">Итого</span>
            <span class="order-price__total-price"><b>{{carts.total_price}} ₽</b></span>
          </div>
          <input
            type="text"
            class="order-price__promo"
            placeholder="Промокод"
          />
          <!-- Кнопка - ОФОРМИТЬ ПОКУПКУ -->
          {% if carts %}
          <a href="#" class="order-price__button button--accent">
            Оформить покупку
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <!-- Конец: Секция "Корзина"  -->

  <!-- Начало: Секция "Добавьте в корзину" -->
  <section class="add-to-basket"></section>
  <!-- Конец: Секция "Добавьте в корзину"  -->

  <!-- Начало: Секция "Форма" -->
  {% include "main/includes/included_form.html" %}
  <!-- Конец: Секция "Форма"  -->
</main>
 
{% endblock content %}

{% block js %}
<script src="{% static "copy.js" %}"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src = "{% static "cart_del.js" %}">

</script>
{% endblock js %}