{% extends "main/base.html" %}
{% load static %}

{% block content %}
      <!-- Начало: Секция каталог товаров -->
      <section class="catalog">
        <div class="catalog__inner container">
          <h2 class="catalog__title">Проекты:</h2>
          <!-- Фильтр 1 -->
          <ul class="catalog__filter">
            <li class="catalog__filter-item">1 этажные</li>
            <li class="catalog__filter-item">от 150м²</li>
            <li class="catalog__filter-item">от 5 250 000</li>
          </ul>
          <!-- Каталог товаров для с фильтром 1 -->
          <ul class="catalog__cards cards">

            {% for  project in catalog  %}
            <li class="catalog__cards-item cards__item">
              <!-- Карточка товара по БЭМ -->
              <article class="catalog__card card">
                <!-- Фото товара -->
                <img
                  width="669"
                  height="509"
                  src="{% static project.image %}"
                  alt="a-17"
                  class="card__image"
                />
                <!-- Информация о количестве этажей -->
                <span class="card__floor-information">{{project.floor}}</span>
                <!-- Главная информация о товаре -->
                <div class="card__information">
                  <h2 class="card__title">{{project.index}}</h2>
                  <p class="card__price">{{project.price}}</p>
                </div>
                <!-- Описание товара -->
                <p class="card__description">
                  {{project.description}}
                </p>
                <!-- Кнопки -->
                <div class="card__actions">
                  <button type="button" class="card__button button button-buy">
                    <img
                      width="30"
                      height="28"
                      src="{% static "source/icons/buy.svg" %}"
                      alt="buy"
                    />
                  </button>
                  <button
                    type="button"
                    class="card__button button button-details button--accent"
                  >
                    Подробнее
                  </button>
                </div>
              </article>
            </li>
            {% endfor %}

          </ul>
          <!-- Фильтр 2 -->
          <ul class="catalog__filter">
            <li class="catalog__filter-item">2 этажные</li>
            <li class="catalog__filter-item">от 250м²</li>
            <li class="catalog__filter-item">от 8 750 000</li>
          </ul>
          <!-- Каталог товаров для с фильтром 2 -->
          <ul class="catalog__cards cards">
          </ul>
          <!-- Фильтр 3 -->
          <ul class="catalog__filter">
            <li class="catalog__filter-item">3 этажные</li>
            <li class="catalog__filter-item">от 350м²</li>
            <li class="catalog__filter-item">от 12 250 000</li>
          </ul>
          <!-- Каталог товаров для с фильтром 3 -->
          <ul class="catalog__cards cards">
          </ul>
          <!-- <div class="catalog__look-more-wrapper">
            <a href="/" class="catalog__look-more-text"
              >Посмотреть больше проектов</a
            >
          </div> -->
        </div>
      </section>
      <!-- Конец: Секция каталог товаров -->


{% endblock content %}