{% extends "base.html" %}
{% load static %}
{% load categories_tag %}

{% block src %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
{% endblock src %}

{% block content %}

<section class="filter container">
  <button class="filter__button-open button--accent" data-action="filter-open">
    Фильтр
  </button>
  <form id="filter-form" method="get" class="filter__form" action="{% url 'catalog:index' %}">
    <fieldset class="filter__fieldset">
      <label class="filter__label" for="flexCheckDefault">
        <input class="filter__input" id="flexCheckDefault" name="on_sale" type="checkbox" value="on" {% if request.GET.on_sale == "on" %}checked{% endif %} />
        Проекты по акции
      </label>
      <legend class="filter__title">Сортировать:</legend>
      <div class="filter__input-wrapper">
        <label class="filter__label" for="flexRadioDefault1">
          <input class="filter__input" type="radio" name="order_by" value="default" id="flexRadioDefault1"
          {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}  />
          По умолчанию
        </label>
        <label class="filter__label" for="flexRadioDefault2">
          <input class="filter__input" type="radio" name="order_by" value="the_cost_of_construction" id="flexRadioDefault2" 
          {% if request.GET.order_by == "the_cost_of_construction" %}checked{% endif %}/>
          От дешевых к дорогим
        </label>
        <label class="filter__label" for="flexRadioDefault3">
          <input class="filter__input" type="radio" name="order_by" value="-the_cost_of_construction" id="flexRadioDefault3" 
          {% if request.GET.order_by == "-the_cost_of_construction" %}checked{% endif %}/>
          От дорогих к дешевым
        </label>
      </div>
      <button type="submit" class="filter__button button--accent">Применить</button>
    </fieldset>
  </form>
</section>



<section class="catalog">
  <div class="catalog__inner container">
    <h2 class="catalog__title">Проекты:</h2>
    
    {% for category in categories %}
    {% if category.projects %}
    <ul class="catalog__filter">
      <li class="catalog__filter-item">{{ category.category.floor }} этажные</li>
      <li class="catalog__filter-item">от {{ category.category.the_area_filter }}м²</li>
      <li class="catalog__filter-item">от {{ category.category.sell_price }}</li>
    </ul>

    <ul class="catalog__cards cards">
      {% for project in category.projects %}
      <li class="catalog__cards-item cards__item">
        <article class="catalog__card card">
          <img width="669" height="400"
               {% if project.image %}
               src="{{ project.image.url }}"
               {% else %}
               src="{% static "source/images/404_not_found.jpg" %}"
               {% endif %}
               alt="Изображение проекта Дома"
               class="card__image" />
          <span class="card__floor-information">{{ project.floor }}</span>
          <div class="card__information">
            <h2 class="card__title">{{ project.name }}</h2>
            {% if project.discount %}
            <p class="card__price"><s>{{ project.price_project }}</s></p>
            <p class="card__price" style="color: #fa8e47;">{{ project.sell_price_project }}</p>
            {% else %}
            <p class="card__price">{{ project.sell_price_project }}</p>
            {% endif %}
          </div>
          <p class="card__description">Габариты: {{ project.dimension }} &nbsp;&nbsp; Площадь: {{ project.the_area }}м²</p>
          <div class="card__actions">


            <!-- ССЫЛКА - В КОРЗИНУ -->
            {% comment %} <a href="{% url "cart:cart_add" project.slug %}" class="card__button button button-buy" data-project-id = "{{project.id}}">
              <img width="30" height="28" src="{% static "source/icons/buy.svg" %}" alt="buy" />
            </a> {% endcomment %}


          <form  action="{% url 'cart:cart_add' project_slug=project.slug %}" method="post" class="add-to-cart form-row">
            {% csrf_token %}
            <button class="card__button button button-buy" type="submit"><img width="30" height="28" src="{% static "source/icons/buy.svg" %}" alt="buy" /></button>
        </form>

            <a href="{% url "catalog:project" project.slug %}" class="card__button button button-details button--accent">Подробнее</a>
          </div>
        </article>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
  </div>
</section>

{% endblock content %}

{% block js %}
<script src="{% static "filter.js" %}"></script>
{% csrf_token %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script src="{% static "cart_add.js" %}"></script>
{% endblock js %}
