{% extends "base.html" %}
{% load static %}

{% block src %}
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
<link rel="stylesheet" href= {% static "css/main.css" %} />
{% comment "" %}<link rel="stylesheet" href="{% url "catalog:project:project_id" %}" />{% endcomment %}
{% endblock src %}

{% block content %}
<main class="project-page">
    <div class="project container">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              class="slider-image"
              src="{{project.image.url}}"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              class="slider-image"
              src="{{project.image.url}}"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              class="slider-image"
              src="{{project.image.url}}"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              class="slider-image"
              src="{{project.image.url}}"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <section class="specifications">
      <div class="container">
        <div class="specifications__content">
          <div class="specifications__first-property">
            <p class="specifications__item">
              <b>Фундамент:</b> {{project.foundation}}
            </p>
            <p class="specifications__item">
              <b>Материал стен:</b> {{project.wall_material}}
            </p>
            <p class="specifications__item">
              <b>Перекрытие:</b> {{project.overlap}}
            </p>
            <p class="specifications__item">
              <b>Тип кровли:</b> {{project.type_of_roof}}
            </p>
            <p class="specifications__item">
              <b>Кровельный материал:</b> {{project.roofing_material}}
            </p>
            <p class="specifications__item">
              <b>Наружная отделка:</b> {{project.exterior_decoration}}
            </p>
          </div>
          <div class="specifications__second-property">
            <div class="specifications__card">
              <img
                src="{% static "source/icons/ladder-svg.svg" %}"
                alt=""
                class="specifications__card-icon"
              />
              <p class="specifications__card-discr">
                <b>Этажность:</b>
                <span class="span-margin">{{project.floor}} этажа</span>
              </p>
            </div> 
            <div class="specifications__card">
              <img
                src="{% static "source/icons/sizes-svg.svg" %}"
                alt=""
                class="specifications__card-icon"
              />
              <p class="specifications__card-discr">
                <b>Габариты:</b><span class="span-margin">{{project.dimension}}</span>
              </p>
            </div>
            <div class="specifications__card">
              <img
                src="{% static "source/icons/diagonal-svg.svg" %}"
                alt=""
                class="specifications__card-icon"
              />
              <p class="specifications__card-discr">
                <b>Площадь:</b> <span class="span-margin">{{project.the_area}} м² </span>
              </p>
            </div>
          </div>
          <div class="specifications__price">
            <img
              src="{% static "source/icons/money-svg2.svg" %}"
              alt=""
              class="specifications__price-icon"
            />
            <p class="specifications__price-discr">
              <b>Стоимость строительства:</b> от {{project.sell_price_of_construction}} рублей
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="discription">
      <div class="container">
        <div class="discription__content">
          <p class="discription__item">
            В каждом проекте вы можете отрегулировать стоимость вашего дома,
            уменьшив или увеличив его площадь. <br />
            <b>Гараж </b>может быть закрытый, открытый на ваше усмотрение,
            на одно или 3 места.
          </p>
          <p class="discription__item">
            <b> Отделка дома</b> может быть выполнена из следующих
            материалов:
            <br />
            Камень/дерево/декоративная
            штукатурка/планкет/кирпич/декоративный камень
          </p>
          <p class="discription__item">
            <b>Перекрытие из материалов:</b> жб плиты/деревянные
            балки/монолитная плита
          </p>
          <p class="discription__item">
            Так же вы можете выбрать подходящий именно вам
            <b>тип кровли</b>, кровельный материал и фундамент.
          </p>
        </div>
      </div>
    </section>
    <section class="structure">
      <div class="structure__content container">
        <h1 class="structure__title title">Состав проекта</h1>

        <ul class="structure__list">

              <li class="structure__item" data-id="01">
                <p class="structure__discr">Архитектурный проект</p>
                <div class="structure__row">
                  <div class="structure__price">9 000₽</div>
                  <button data-add href="#" class="structure__button-bag">
                    <img src="../source/icons/korzinka.svg" alt="korzinka" />
                  </button>
                  <button
                    data-tooltip="open"
                    type="button"
                    id="modal-1"
                    class="structure__button button button--accent"
                  >
                    Подробнее
                  </button>
                </div>
              </li>
        </ul>

        <ul class="structure__list">
            <li class="structure__item" data-id="01">
              <p class="structure__discr">Эскизный проект</p>
              <div class="structure__row">
                <div class="structure__price">{{project.sell_price_pleliminary_design}}₽</div>
                <button data-add href="#" class="structure__button-bag">
                  <img src="{% static "source/icons/korzinka.svg" %}" alt="korzinka" />
                </button>
                <button
                  data-tooltip="open"
                  type="button"
                  id="modal-1"
                  class="structure__button button button--accent"
                >
                  Подробнее
                </button>
              </div>
            </li>
          </ul>
        
          <ul class="structure__list">
            <li class="structure__item" data-id="01">
              <p class="structure__discr">3D визуализация</p>
              <div class="structure__row">
                <div class="structure__price">{{project.sell_price_3d_visualisation}}₽</div>
                <button data-add href="#" class="structure__button-bag">
                  <img src="{% static "source/icons/korzinka.svg" %}" alt="korzinka" />
                </button>
                <button
                  data-tooltip="open"
                  type="button"
                  id="modal-1"
                  class="structure__button button button--accent"
                >
                  Подробнее
                </button>
              </div>
            </li>
          </ul>

          <ul class="structure__list">
            <li class="structure__item" data-id="01">
              <p class="structure__discr">3D Модель</p>
              <div class="structure__row">
                <div class="structure__price">{{project.sell_price_3d_model}}₽</div>
                <button data-add href="#" class="structure__button-bag">
                  <img src="{% static "source/icons/korzinka.svg" %}" alt="korzinka" />
                </button>
                <button
                  data-tooltip="open"
                  type="button"
                  id="modal-1"
                  class="structure__button button button--accent"
                >
                  Подробнее
                </button>
              </div>
            </li>
          </ul>
          <ul class="structure__list">
            <li class="structure__item" data-id="01">
              <p class="structure__discr">Фундамент монолитный</p>
              <div class="structure__row">
                <div class="structure__price">{{project.sell_price_the_foundation_monolithic}}₽</div>
                <button data-add href="#" class="structure__button-bag">
                  <img src="{% static "source/icons/korzinka.svg" %}" alt="korzinka" />
                </button>
                <button
                  data-tooltip="open"
                  type="button"
                  id="modal-1"
                  class="structure__button button button--accent"
                >
                  Подробнее
                </button>
              </div>
            </li>
          </ul>

          <ul class="structure__list">
            <li class="structure__item" data-id="01">
              <p class="structure__discr">Конструктивный раздел</p>
              <div class="structure__row">
                <div class="structure__price">{{project.sell_price_construction_section}}₽</div>
                <a data-add href="#" class="structure__button-bag">
                  <img src="{% static "source/icons/korzinka.svg" %}" alt="korzinka" />
                </a>
                <button
                  data-tooltip="open"
                  type="button"
                  id="modal-1"
                  class="structure__button button button--accent"
                >
                  Подробнее
                </button>
              </div>
            </li>
          </ul>

          <ul class="structure__list">
            <li class="structure__item" data-id="01">
              <p class="structure__discr">Смета на строительство</p>
              <div class="structure__row">
                <div class="structure__price">{{project.sell_price_construction_estimates}}₽</div>
                <button data-add href="#" class="structure__button-bag">
                  <img src="{% static "source/icons/korzinka.svg" %}" alt="korzinka" />
                </button>
                <button
                  data-tooltip="open"
                  type="button"
                  id="modal-1"
                  class="structure__button button button--accent"
                >
                  Подробнее
                </button>
              </div>
            </li>
          </ul>

          <ul class="structure__list">
            <li class="structure__item" data-id="01">
              <p class="structure__discr">Полный проект</p>
              <div class="structure__row">
                {% if project.discount %}
                <p class = "card__price"><s> {{project.price_project}} </s></p>
                <div class="structure__price">{{project.sell_price_project}}₽</div>
                {% else %}
                <div class="structure__price">{{project.sell_price_project}}₽</div>
                {% endif %}
                <a data-add href="{% url "cart:cart_add" project.slug %}" class="structure__button-bag">
                  <img src="{% static "source/icons/korzinka.svg" %}" alt="korzinka" />
                </a>
                <button
                  data-tooltip="open"
                  type="button"
                  id="modal-1"
                  class="structure__button button button--accent"
                >
                  Подробнее
                </button>
              </div>
            </li>
          </ul>
      </div>
      <div id="basket" class="basket__products-block hidden"></div>
    </section>
    <!-- Начало: Секция "Форма" -->
    {% include "main/includes/included_form.html" %}
    <!-- Конец: Секция "Форма"  -->
  </main>

{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper(".mySwiper", {
        cssMode: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
        },
        mousewheel: true,
        keyboard: true,
      });
    </script>
{% endblock js %}