{% extends "main/base.html" %}
{% load static %}

{% block content %}
      <!-- Контент -->
      <main class="about-page">
        <div class="about container">
          <h1 class="about__title title">О компании</h1>
          <div class="about__top">
            <div class="about__care-block">
              <h3 class="about__care-title block-title">Забота</h3>
              <p class="about__care-discr block-discr">
                Мы считаем, что счастливый клиент - тот, который возвращается.
                Который советует нас Своим близким.
              </p>
            </div>
            <div class="about__company-discr">
              <p class="about__company-title block-title">
                300+ проектов компания Monolith воплотила за 9 лет на рынке
              </p>
            </div>
            <div class="about__trust">
              <h3 class="about__trust-title block-title">Доверие</h3>
              <p class="about__trust-discr">
                Мы отвечаем за свои слова и ведём работу таким образом, чтобы
                обойти возможные ошибки стороной.
              </p>
            </div>
          </div>
          <div class="about__bottom">
            <div class="about__support-block">
              <h2 class="about__support-title block-title">Поддержка</h2>
              <p class="about__support-discr block-discr">
                Работая с нами, Вы получаете не только красивый и уникальный
                дом, но и множество преимуществ. Мы предоставляем все
                необходимые консультации и помогаем Вам преодолеть сложности,
                связанные с проектированием и строительством.
              </p>
            </div>
            <div class="about__security-block">
              <h2 class="about__security-title block-title">Надежность</h2>
              <p class="about__security-discr block-discr">
                Каждый специалист нашей команды отвечает за свое направление.
                <b>Архитектор</b> продумывает конструктив.
                <b>Дизайнер</b> создает планировку и дизайн дома.
                <b>Прораб</b> рассчитывает трудозатраты и способы строительства.
                <b>Сметчик</b> рассчитывает количество необходимого материала и
                стоимость строительства. <b>Ландшафтный дизайнер</b> создаёт
                внешний облик дома.
              </p>
            </div>
            <div class="about__professionalism-block">
              <h2 class="about__professionalism-title block-title">
                Профессионализм
              </h2>
              <p class="about__professionalism-discr block-discr">
                Мы - команда специалистов со стажем работы более 12 лет.
              </p>
            </div>
            <div class="about__experience-block">
              <h2 class="about__experience-title block-title">Опыт</h2>
              <p class="about__experience-discr block-discr">
                каждого специалиста нашей команды позволяет создавать только
                современные дома для любой местности по стоимости обычных домов.
              </p>
            </div>
          </div>
        </div>
      </main>
      <!-- Конец контента-->
 
{% endblock content %}


{% block js %}
{% endblock js %}
