{% load static %}

<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Название сайта -->
    <title>Monotith</title>
    <!-- Файл со всеми стилями -->
    <link rel="stylesheet" href= {% static "css/main.css" %} />
  </head>
  <body>
    <!-- Обертка для сайта -->
    <div class="wrapper">
      <!-- Шапка -->
      <header class="header">
        <div class="header__inner container-header">
          <img
            width="52"
            height="57"
            src= {% static "source/icons/logo.svg" %}
            alt="monolith"
            class="header__logo visible-mobile"
          />
          <img
            width="52"
            height="57"
            src= {% static "source/icons/logo.svg" %}
            alt="monolith"
            class="header__logo hidden-mobile"
          />
          <!-- Меню для шапки (на компьютере) -->
          <nav class="header__menu menu hidden-mobile">
            <ul class="menu__list">
              <li class="menu__item">
                <a href="./pages/catalog.html" class="menu__link"
                  >Каталог проектов</a
                >
              </li>
              <li class="menu__item">
                <a href="./pages/about-company.html" class="menu__link"
                  >О компании</a
                >
              </li>
              <li class="menu__item">
                <a href="./pages/services.html" class="menu__link">Услуги</a>
              </li>
              <li class="menu__item">
                <a href="./pages/account.html" class="menu__link">Аккаунт</a>
              </li>
            </ul>
          </nav>
          <!-- Мобильное меню (на телефоне) -->
          <nav class="header__menu mobile-bar visible-mobile translate-x">
            <ul class="mobile-bar__list">
              <li class="mobile-bar__item">
                <a href="/" class="mobile-bar__link">
                  <span class="mobile-bar__link-wrapper">
                    <img
                      width="27"
                      height="27"
                      src="{% static "source/icons/home.svg" %}"
                      alt="home"
                    />
                  </span>
                  <span class="mobile-bar__link-text">Главная</span>
                </a>
              </li>
              <li class="mobile-bar__item">
                <a href="./pages/about-company.html" class="mobile-bar__link">
                  <span class="mobile-bar__link-wrapper">
                    <img
                      width="27"
                      height="27"
                      src="{% static "source/icons/document.svg" %}"
                      alt="about company"
                    />
                  </span>
                  <span class="mobile-bar__link-text">О компании</span>
                </a>
              </li>
              <li class="mobile-bar__item">
                <a href="./pages/services.html" class="mobile-bar__link">
                  <span class="mobile-bar__link-wrapper">
                    <img
                      width="27"
                      height="27"
                      src="{% static "source/icons/actions.svg" %}"
                      alt="actions"
                    />
                  </span>
                  <span class="mobile-bar__link-text">Услуги</span>
                </a>
              </li>
              <li class="mobile-bar__item">
                <a href="./pages/catalog" class="mobile-bar__link">
                  <span class="mobile-bar__link-wrapper">
                    <img
                      width="27"
                      height="27"
                      src="{% static "source/icons/projects.svg" %}"
                      alt="projects"
                    />
                  </span>
                  <span class="mobile-bar__link-text">Проекты</span>
                </a>
              </li>
              <li class="mobile-bar__item">
                <a href="./pages/basket" class="mobile-bar__link">
                  <span class="mobile-bar__link-wrapper">
                    <img
                      width="27"
                      height="27"
                      src="{% static "source/icons/basket.svg" %}"
                      alt="basket"
                    />
                  </span>
                  <span class="mobile-bar__link-text">Корзина</span>
                </a>
              </li>
              <li class="mobile-bar__item">
                <a href="./pages/account" class="mobile-bar__link">
                  <span class="mobile-bar__link-wrapper">
                    <img
                      width="27"
                      height="27"
                      src="{% static "source/icons/account.svg" %}"
                      alt="account"
                    />
                  </span>
                  <span class="mobile-bar__link-text">Аккаунт</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- Кнопка для перехода в корзину (на компьютере) -->
          <a
            href="./pages/basket.html"
            class="header__button button hidden-mobile"
            type="button"
          >
            <svg
              width="20.000000"
              height="22.000000"
              viewBox="0 0 20 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs />
              <path
                id="Icon"
                d="M17.66 7.5L18.83 21.5L0.16 21.5L1.33 7.5L17.66 7.5ZM4.83 9.83L4.83 5.16C4.83 2.58 6.92 0.5 9.5 0.5C12.07 0.5 14.16 2.58 14.16 5.16L14.16 9.83"
                stroke="#18181B"
                stroke-opacity="1.000000"
                stroke-width="1.000000"
                stroke-linejoin="round"
                stroke-linecap="round"
              />
            </svg>
          </a>
        </div>
      </header>
      <!-- Конец шапки -->

    
      <!-- Подвал сайта (футер) -->
      <footer class="footer">
        <div class="footer__inner">
          <div class="footer__body">
            <div class="footer__body-content container">
              <div class="footer__logo-wrapper">
                <img
                  width="104"
                  height="116"
                  src="{% static "source/icons/logo.svg" %}"
                  alt=""
                  class="footer__logo"
                />
                <p class="footer__logo-description">
                  Современное жилье созданное специально для Вас
                </p>
              </div>
              <nav class="footer__nav">
                <ul class="footer__list">
                  <li class="footer__list-item">Разделы</li>
                  <li class="footer__list-item">
                    <a href="/" class="footer__list-link">Главная страница</a>
                  </li>
                  <li class="footer__list-item">
                    <a href="../pages/catalog.html" class="footer__list-link"
                      >Каталог проектов</a
                    >
                  </li>
                  <li class="footer__list-item">
                    <a
                      href="../pages/about-company.html"
                      class="footer__list-link"
                      >О компании</a
                    >
                  </li>
                  <li class="footer__list-item">
                    <a href="../pages/basket.html" class="footer__list-link"
                      >Корзина</a
                    >
                  </li>
                  <li class="footer__list-item">
                    <a href="../pages/services.html" class="footer__list-link"
                      >Услуги</a
                    >
                  </li>
                </ul>
              </nav>
              <nav class="footer__nav">
                <ul class="footer__list">
                  <li class="footer__list-item">Как с нами связаться</li>
                  <li class="footer__list-item">
                    <a href="#" class="footer__list-link" title="Phone-number"
                      >+7 (967) 770 66 88</a
                    >
                  </li>
                  <li class="footer__list-item">
                    <a href="#" class="footer__list-link" title="Gmail"
                      >m550ae@gmail.com</a
                    >
                  </li>
                  <li class="footer__list-item">
                    <a href="#" class="footer__list-link" title="Vkontakte"
                      >Вконтакте</a
                    >
                  </li>
                  <li class="footer__list-item">
                    <a href="#" class="footer__list-link" title="Instagram"
                      >Instagram</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="footer__bottom">
            <div class="footer__bottom-content container">
              <p class="footer__copyright">
                Copyright © 2023 Все права защищены
              </p>
              <div class="footer__links">
                <a href="" class="footer__link">
                  <img
                    class="footer__link-icon"
                    src="{% static "source/icons/in-icon.svg" %}"
                    alt="in"
                  />
                </a>
                <a href="" class="footer__link">
                  <img
                    class="footer__link-icon"
                    src="{% static "source/icons/vk-icon.svg" %}"
                    alt="vk"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Скрипты -->
    <script src="{% static "script.js" %}"></script>
    <script src="{% static "tabs.js" %}"></script>
  </body>
</html>
