{% extends "base.html" %}
{% load static %}
{% block src %}    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>{% endblock src %}
{% block content %}
{% load custom_tags %}
      <!-- Главный контент -->
      <main class="main">
        <!-- Начало: Первая секция (баннер) -->
        <section class="main-page">
          <div class="main-page__wrapper container">
            <h1 class="main-page__title">
              Живите в доме, каждый сантиметр которого продуман для вас 
            </h1>
            <p class="main-page__description">
              Получи проект частного дома и узнай стоимость его строительства
            </p>
            <div class="main-page__actions">
              <a
              href="{% url "catalog:index" %}"
              class="main-page__button button button-show button--accent"
            >
              Посмотреть готовые проекты
            </a>
            <a
              href="{% url "main:quiz" %}"
              class="main-page__button button button-order button-white"
            >
              Заказать индивидуальный проект
            </a>
            </div>
          </div>
        </section>
        
        <!-- Конец: Первая секция (баннер) -->

       <!-- Здесь удален каталог -->

        <!-- Начало: Секция "Что включает в себя проект дома?" -->
        <section class="our-services container">
          <header class="our-services__header">
            <h2 class="our-services__header-title">
              Что включает в себя проект дома?
            </h2>
          </header>
          <div class="our-services__body">
            <div class="our-services__text">
              <p class="our-services__description">
                Проект дома – это документ, по которому будет происходить
                строительство дома. В нем содержатся чертежи и вся необходимая
                информация о строительных конструкциях, используемых материалах,
                <!-- коммуникациях и дизайне дома. <br /> -->
                Среди них:
              </p>
              <div class="our-services__cards">
                <article class="our-services__card">
                  <div class="our-services__card-wrapper">
                    <img
                      width="26"
                      height="27"
                      src="{% static "source/icons/card-1.svg" %}"
                      alt=""
                    />
                    <p class="our-services__card-description">
                      Эскизный проект
                    </p>
                  </div>
                </article>
                <article class="our-services__card">
                  <div class="our-services__card-wrapper">
                    <img
                      width="26"
                      height="27"
                      src="{% static "source/icons/card-2.svg" %}"
                      alt=""
                    />
                    <p class="our-services__card-description">
                      Расчет и подбор фундамента
                    </p>
                  </div>
                </article>
                <article class="our-services__card">
                  <div class="our-services__card-wrapper">
                    <img
                      width="26"
                      height="27"
                      src="{% static "source/icons/card-3.svg" %}"
                      alt=""
                    />
                    <p class="our-services__card-description">
                      Архитектурное проектирование
                    </p>
                  </div>
                </article>
                <article class="our-services__card">
                  <div class="our-services__card-wrapper">
                    <img
                      width="26"
                      height="27"
                      src="{% static "source/icons/card-4.svg" %}"
                      alt=""
                    />
                    <p class="our-services__card-description">
                      Расход и стоимость материалов
                    </p>
                  </div>
                </article>
                <article class="our-services__card">
                  <div class="our-services__card-wrapper">
                    <img
                      width="26"
                      height="27"
                      src="{% static "source/icons/card-5.svg" %}"
                      alt=""
                    />
                    <p class="our-services__card-description">
                      Конструктивное проектирование
                    </p>
                  </div>
                </article>
                <article class="our-services__card">
                  <div class="our-services__card-wrapper">
                    <img
                      width="26"
                      height="27"
                      src="{% static "source/icons/card-6.svg" %}"
                      alt=""
                    />
                    <p class="our-services__card-description">
                      Объем и стоимость работ
                    </p>
                  </div>
                </article>
              </div>
            </div>
            <div class="our-services__illustration">
              <img
                width="800"
                height="592"
                class="our-services__image"
                src="{% static "source/images/background-1.jpeg" %}"
                alt=""
              />
              <button
                type="button"
                class="our-services__button button button-look"
              >
                Посмотреть пример проекта
              </button>
            </div>
          </div>
        </section>
        <!-- Конец: Секция "Что включает в себя проект дома?" -->

        <!-- Начало: Секция "Индивидуальный проект" -->
        <section class="special-project container" hidden>
          <header class="special-project__header">
            <h2 class="special-project__header-title">
              Индивидуальный проект:
            </h2>
          </header>
          <div class="special-project__body">
            <div class="special-project__col-1 col-1">
              <ul class="col-1__list">
                <li class="col-1__list-item">
                  Площадь дома создана под ваши пожелания
                </li>
                <li class="col-1__list-item">
                  Проект создается под ваш бюджет
                </li>
                <li class="col-1__list-item">
                  В проекте будут подходящие для вас материалы
                </li>
              </ul>
              <img
                class="special-project__image"
                width="800"
                height="400"
                src="{% static "source/images/special-1.jpeg" %}"
                alt=""
              />
            </div>
            <div class="special-project__col-2">
              <img
                class="special-project__image"
                width="757"
                height="432"
                src="{% static "source/images/special-2.jpeg" %}"
                alt=""
              />
              <ul class="col-1__list">
                <li class="col-1__list-item">
                  Состав проекта устанавливаете вы
                </li>
                <li class="col-1__list-item">
                  Проект создается с учетом рельефа вашего участка
                </li>
              </ul>
            </div>
          </div>
        </section>
        <!-- Конец: Секция "Индивидуальный проект" -->

        <!-- Начало: Секция "Расчитайте стоимость проекта" -->
        <section class="calculate-section calculate">
          <header class="calculate-section__header">
            <div class="calculate-section__inner calculate__inner container">
              <h2 class="calculate__title calculate-section__title">
                Рассчитайте стоимость <br />
                проектирования <br />
                за 1 минуту и получите дизайн-проект <br />
                <b>в подарок</b>
              </h2>
            </div>
          </header>
          <div class="calculate-section__banner container">
            <h3 class="calculate-section__banner-title">Вы получите:</h3>
            <div class="calculate-section__cards">
              <article class="calculate-section__card">
                <div class="calculate-section__card-wrapper">
                  <img
                    width="64"
                    height="61"
                    src="{% static "source/icons/calc-1.svg" %}"
                    alt=""
                    class="calculate-section__card-image"
                  />
                  <h4 class="calculate-section__card-title">
                    Оптимизация затрат на строительство
                  </h4>
                  <p class="calculate-section__card-description">
                    Сократите расходы
                  </p>
                </div>
              </article>
              <article class="calculate-section__card">
                <div class="calculate-section__card-wrapper">
                  <img
                    width="64"
                    height="61"
                    src="{% static "source/icons/calc-2.svg" %}"
                    alt=""
                    class="calculate-section__card-image"
                  />
                  <h4 class="calculate-section__card-title">
                    Эксклюзивный дизайн
                  </h4>
                  <p class="calculate-section__card-description">
                    Который делает дом комфортным, и функциональным именно для
                    Вас
                  </p>
                </div>
              </article>
              <article class="calculate-section__card">
                <div class="calculate-section__card-wrapper">
                  <img
                    width="64"
                    height="61"
                    src="{% static "source/icons/calc-3.svg" %}"
                    alt=""
                    class="calculate-section__card-image"
                  />
                  <h4 class="calculate-section__card-title">Гарантия</h4>
                  <p class="calculate-section__card-description">
                    Что ваш дом будет соответствовать всем нормам и требованиям
                  </p>
                </div>
              </article>
              <article class="calculate-section__card">
                <div class="calculate-section__card-wrapper">
                  <img
                    width="64"
                    height="61"
                    src="{% static "source/icons/calc-4.svg" %}"
                    alt=""
                    class="calculate-section__card-image"
                  />
                  <h4 class="calculate-section__card-title">
                    Сэкономленное время
                  </h4>
                  <p class="calculate-section__card-description">
                    Ускорение всех этапов строительства и ввода объекта в
                    эксплуатацию
                  </p>
                </div>
              </article>
            </div>
            <div class="calculate-section__actions">
              <a
              href="{% url "user:users_cart" %}"
              class="calculate-section__button button-price button--accent"
            >
              Узнать стоимость
            </a>
            
            <a
              href="{% url "catalog:index" %}"
              class="calculate-section__button button-show"
            >
              Посмотреть готовые проекты
            </a>
            </div>
          </div>
        </section>
        <!-- Конец: Секция "Расчитайте стоимость проекта"  -->

        <!-- Начало: Секция "О нас в цифрах" -->
        <section class="our-numbers" hidden>
          <header class="our-numbers__header">
            <h2 class="our-numbers__header-link">О нас в цифрах</h2>
          </header>
          <div class="our-numbers__body">
            <!-- Карточки "О нас в цифрах" -->
            <div class="our-numbers__cards">
              <!-- Карточка "О нас в цифрах по БЭМ" -->
              <article class="our-numbers__card">
                <div class="our-numbers__card-wrapper">
                  <!-- Содержимое карточки -->
                  <h3 class="our-numbers__card-title"> 35 000 м²</h3>
                  <p class="our-numbers__card-description">
                    общей площади спроектировано
                  </p>
                </div>
              </article>
            </div>
          </div>
        </section>
        <!-- Конец: Секция "О нас в цифрах"  -->

        <!-- Начало: Секция "Часто задаваемые вопросы" -->
        <section class="faq container">
          <header class="faq__header">
            <a href="#" class="faq__header-link">FAQ</a>
            <h2 class="faq__header-title">Часто задаваемые вопросы</h2>
          </header>

          
          <ul class="faq__list">
            {% for faq in faqs %}
            <li class="faq__list-item">
                <p class="faq__list-question">{{ faq.question }}</p>
                <button class="faq__list-button" data-action="open-faq">
                    <svg
                        width="25.000000"
                        height="26.000000"
                        viewBox="0 0 25 26"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                        <defs />
                        <path
                            id="Icon"
                            d="M23.56 14.74L11.88 24.08L0.2 14.74M11.88 24.08L11.88 0.08"
                            stroke="#18181B"
                            stroke-opacity="1.000000"
                            stroke-width="2.000000"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button> 
            </li>
            <li class="faq__list-item visually-hidden">
                <p class="faq__list-answer">{{ faq.answer }}</p>
                <button class="faq__list-button" data-action="close-faq">
                    <svg
                        width="25.000000"
                        height="26.000000"
                        viewBox="0 0 25 26"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                        <desc>Created with Pixso.</desc>
                        <defs />
                        <path
                            id="Icon"
                            d="M0.7 9.42L12.04 0.08L23.38 9.42M12.04 0.08L12.04 24.08"
                            stroke="#18181B"
                            stroke-opacity="1.000000"
                            stroke-width="2.000000"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
            </li>
            {% endfor %}
        </ul>
        </section>
        <!-- Конец: Секция "Часто задаваемые вопросы"  -->

        <!-- Начало: Секция "Форма" -->
        {% include "main/includes/included_form.html" %}
        <!-- Конец: Секция "Форма"  -->

        <!-- Начало: Секция "Партнеры" -->
        <section class="partners">
          <header class="partners__header container">
            <h2 class="partners__header-title">Партнеры</h2>
          </header>
          <div class="partners__body">
            <div class="partners__images container">
              <img
                class="partners__image"
                src="{% static "source/icons/hoff.svg" %}"
                alt=""
              />
              <img
                class="partners__image"
                src="{% static "source/icons/zanussi.svg" %}"
                alt=""
              />
              <img class="partners__image" src="{% static "source/icons/lm.svg" %}" alt="" />
              <img
                class="partners__image"
                src="{% static "source/icons/absh.svg" %}"
                alt=""
              />
              <img class="partners__image" src="{% static "source/icons/vb.svg" %}" alt="" />
              <img
                class="partners__image"
                src="{% static "source/icons/bork.svg" %}"
                alt=""
              />
              <img
                class="partners__image"
                src="{% static "source/icons/tdes.svg" %}"
                alt=""
              />
            </div>
          </div>
        </section>
        <!-- Конец: Секция "Партнеры"  -->

        <!-- Начало: Секция "Способы оплаты" -->
        <section class="payments">
          <header class="payments__header container">
            <h2 class="payments__header-title">Способы оплаты</h2>
          </header>
          <div class="payments__body">
            <div class="payments__images container">
              <img
                src="{% static "source/icons/visa.svg" %}"
                alt=""
                class="payments__image"
              />
              <img src="{% static "source/icons/mc.svg" %}" alt="" class="payments__image" />
              <img
                src="{% static "source/icons/sbp.svg" %}"
                alt=""
                class="payments__image"
              />
            </div>
          </div>
        </section>
        <!-- Конец: Секция "Способы оплаты"  -->
      </main>
      {% endblock content %}

      {% block js %}
      <script src="{% static "tabs.js" %}"></script>
      <script src="{% static "message.js" %}"></script>
      {% endblock js %}
      