{% extends "base.html" %}
{% load static %}
{% block content %}


<section class="quiz-section container">
  <!-- квиз 1 -->
  <div class="quiz">
    <div class="quiz__wrapper">
      <div class="quiz__content">
        <div class="quiz__content-wrapper">
          <!-- Форма -->
          <form action="{% url 'main:quiz' %}" method="post"  class="quiz__form-quistions">
            {% csrf_token %}
            <!-- Квиз 1 -->
            <div class="form-quistions">
              <div class="quiz__number-wrapper">
                <!-- Номер квиза -->
                <p class="quiz__question-number" id="quiz-number">01</p>
              </div>
              <!-- 1-ая Секция с вопросами -->
              <fieldset class="form-quistions__content">
                <legend
                  class="form-quistions__title-wrapper"
                  id="title-first"
                >
                  <!-- Вопрос 1-ый -->
                  <h3 class="form-quistions__title">
                    Введите желаемую площадь дома
                  </h3>
                </legend>
                <div
                  class="form-quistions__answers-row"
                  id="quiz-content-first"
                >
                  {% comment %} <label for="input" class="form-quistions__label">
                    <input
                      type="number"
                      id="input"
                      class="form-quistions__input"
                      placeholder=".....м²"
                      required
                    /> {% endcomment %}
                    {{form.house_area}}
                  </label>
                </div>
              </fieldset>
              <!-- 2-ая Секция с вопросами -->

        
            <fieldset class="form-quistions__content">
                <legend class="form-quistions__title-wrapper" id="title-second">
                    <!-- Вопрос 2-й -->
                    <h3 class="form-quistions__title">Этажность</h3>
                </legend>
                <div class="form-quistions__answers-row" id="quiz-content-second">
                    {% for id, name in form.floors.field.choices %}
                        <div class="form-quistions__checkbox-wrapper">
                            <label for="floor-{{ id }}" class="form-quistions__label">
                                <input
                                    type="radio"
                                    id="floor-{{ id }}"
                                    name="{{ form.floors.name }}"
                                    value="{{ id }}"
                                    class="form-quistions__checkbox"
                                    {% if form.floors.value == id %}checked{% endif %}
                                />
                                <span class="form-quistions__custom-checkbox">{{ name }}</span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
              <!-- Кнопки -->
              <div class="form-quistions__actions">
                <button
                  class="form-quistions__button button button-back"
                  type="button"
                >
                  Назад
                </button>
                <button
                  type="button"
                  class="form-quistions__button button--accent button button-continue"
                >
                  Далее
                </button>
              </div>
            </div>
            <!-- Квиз 2 -->
    <div class="form-quistions" hidden>
      <div class="quiz__number-wrapper">
          <!-- Номер квиза -->
          <p class="quiz__question-number" id="quiz-number">02</p>
      </div>
      
      <!-- 1-ая Секция с вопросами -->
      <fieldset class="form-quistions__content">
          <legend class="form-quistions__title-wrapper" id="title-first">
              <!-- Вопрос 1-ый -->
              <h3 class="form-quistions__title">Материал стен</h3>
          </legend>
          <!-- Ответы для 1-го вопроса -->
          <div class="form-quistions__answers-row form-quistions__answers-row--checkbox" id="quiz-content-first">
              {% for choice in form.materials %}
                  <label class="form-quistions__label checkbox-base" for="{{ choice.id_for_label }}">
                      {{ choice.tag }}
                      {{ choice.choice_label }}
                  </label>
              {% endfor %}
          </div>
      </fieldset>

      <!-- 2-ая Секция с вопросами -->
      <fieldset class="form-quistions__content">
          <legend class="form-quistions__title-wrapper" id="title-second">
              <!-- Вопрос 2-й -->
              <h3 class="form-quistions__title">Высота дома</h3>
          </legend>
          <div class="form-quistions__answers-row" id="quiz-content-second">
              <label for="input" class="form-quistions__label">
                  {{ form.house_height }}
              </label>
          </div>
      </fieldset>
              <!-- Кнопки -->
              <div class="form-quistions__actions">
                <button
                  class="form-quistions__button button button-back"
                  type="button"
                >
                  Назад
                </button>
                <button
                  type="button"
                  class="form-quistions__button button--accent button button-continue"
                >
                  Далее
                </button>
              </div>
            </div>
            <!-- Квиз 3 -->
            <div class="form-quistions" hidden>
              <div class="quiz__number-wrapper">
                <!-- Номер квиза -->
                <p class="quiz__question-number" id="quiz-number">03</p>
              </div>
              <!-- 1-ая Секция с вопросами -->
        <fieldset class="form-quistions__content">
          <legend class="form-quistions__title-wrapper" id="title-first">
              <!-- Вопрос 1-ый -->
              <h3 class="form-quistions__title">Отделка фасадов</h3>
          </legend>
          <!-- Ответы для 1-го вопроса -->
          <div class="form-quistions__answers-row form-quistions__answers-row--checkbox" id="quiz-content-first">
              {% for choice in form.facades %}
                  <label class="form-quistions__label checkbox-base" for="{{ choice.id_for_label }}">
                      {{ choice.tag }}
                      {{ choice.choice_label }}
                  </label>
              {% endfor %}
          </div>
      </fieldset>
              <!-- 2-ая Секция с вопросами -->
        <fieldset class="form-quistions__content">
          <legend class="form-quistions__title-wrapper" id="title-second">
              <!-- Вопрос 2-й -->
              <h3 class="form-quistions__title">Фундамент</h3>
          </legend>
          <div class="form-quistions__answers-row form-quistions__answers-row--checkbox" id="quiz-content-second">
              {% for choice in form.foundation %}
                  <label class="form-quistions__label checkbox-base" for="{{ choice.id_for_label }}">
                      {{ choice.tag }}
                      {{ choice.choice_label }}
                  </label>
              {% endfor %}
          </div>
      </fieldset>
              <!-- Кнопки -->
              <div class="form-quistions__actions">
                <button
                  class="form-quistions__button button button-back"
                  type="button"
                >
                  Назад
                </button>
                <button
                  type="button"
                  class="form-quistions__button button--accent button button-continue"
                >
                  Далее
                </button>
              </div>
            </div>
            <!-- Квиз 4 -->
            <div class="form-quistions" hidden>
              <div class="quiz__number-wrapper">
                <!-- Номер квиза -->
                <p class="quiz__question-number" id="quiz-number">04</p>
              </div>
              <!-- 1-ая Секция с вопросами -->
        <fieldset class="form-quistions__content">
          <legend class="form-quistions__title-wrapper" id="title-first">
              <!-- Вопрос 1-ый -->
              <h3 class="form-quistions__title">Гараж</h3>
          </legend>
          <!-- Ответы для 1-го вопроса -->
          <div class="form-quistions__answers-row form-quistions__answers-row--checkbox" id="quiz-content-first">
              {% for choice in form.garage %}
                  <label class="form-quistions__label checkbox-base" for="{{ choice.id_for_label }}">
                      {{ choice.tag }}
                      {{ choice.choice_label }}
                  </label>
              {% endfor %}
          </div>
      </fieldset>

      <!-- 2-ая Секция с вопросами -->
      <fieldset class="form-quistions__content">
          <legend class="form-quistions__title-wrapper" id="title-second">
              <!-- Вопрос 2-й -->
              <h3 class="form-quistions__title">Баня</h3>
          </legend>
          <div class="form-quistions__answers-row form-quistions__answers-row--checkbox" id="quiz-content-second">
              {% for choice in form.bath %}
                  <label class="form-quistions__label checkbox-base" for="{{ choice.id_for_label }}">
                      {{ choice.tag }}
                      {{ choice.choice_label }}
                  </label>
              {% endfor %}
          </div>
      </fieldset>
              <!-- Кнопки -->
              <div class="form-quistions__actions">
                <button
                  class="form-quistions__button button button-back"
                  type="button"
                >
                  Назад
                </button>
                <button
                  type="button"
                  class="form-quistions__button button--accent button button-continue"
                >
                  Далее
                </button>
              </div>
            </div>
            <!-- Квиз 5 -->
            <div class="form-quistions" hidden>
              <div class="quiz__number-wrapper">
                <!-- Номер квиза -->
                <p class="quiz__question-number" id="quiz-number">05</p>
              </div>
              <!-- 1-ая Секция с вопросами -->
        <fieldset class="form-quistions__content">
          <legend class="form-quistions__title-wrapper" id="title-first">
              <!-- Вопрос 1-ый -->
              <h3 class="form-quistions__title">Терасса</h3>
          </legend>
          <!-- Ответы для 1-го вопроса -->
          <div class="form-quistions__answers-row form-quistions__answers-row--checkbox" id="quiz-content-first">
              {% for choice in form.terrace %}
                  <label class="form-quistions__label checkbox-base" for="{{ choice.id_for_label }}">
                      {{ choice.tag }}
                      {{ choice.choice_label }}
                  </label>
              {% endfor %}
          </div>
      </fieldset>

      <!-- 2-ая Секция с вопросами -->
      <fieldset class="form-quistions__content">
          <legend class="form-quistions__title-wrapper" id="title-second">
              <!-- Вопрос 2-й -->
              <h3 class="form-quistions__title">Бассейн</h3>
          </legend>
          <div class="form-quistions__answers-row form-quistions__answers-row--checkbox" id="quiz-content-second">
              {% for choice in form.pool %}
                  <label class="form-quistions__label checkbox-base" for="{{ choice.id_for_label }}">
                      {{ choice.tag }}
                      {{ choice.choice_label }}
                  </label>
              {% endfor %}
          </div>
      </fieldset>
              <!-- Кнопки -->
              <div class="form-quistions__actions">
                <button
                  class="form-quistions__button button button-back"
                  type="button"
                >
                  Назад
                </button>
                <button
                  type="button"
                  class="form-quistions__button button--accent button button-continue"
                >
                  Далее
                </button>
              </div>
            </div>
            <!-- Квиз 6 -->
            <div class="form-quistions" hidden>
              <div class="quiz__number-wrapper">
                <!-- Номер квиза -->
                <p class="quiz__question-number" id="quiz-number">06</p>
              </div>
              <!-- 1-ая Секция с вопросами -->
        <fieldset class="form-quistions__content">
          <legend class="form-quistions__title-wrapper" id="title-first">
              <!-- Вопрос 1-ый -->
              <h3 class="form-quistions__title">Предполагаемая площадь земельного участка</h3>
          </legend>
          <!-- Ответы для 1-го вопроса -->
          <div class="form-quistions__answers-row" id="quiz-content-first">
              <label for="id_land_area" class="form-quistions__label">
                  {{ form.land_area }}
              </label>
          </div>
      </fieldset>
              <!-- Кнопки -->
              <div class="form-quistions__actions">
                <button
                  class="form-quistions__button button button-back"
                  type="button"
                >
                  Назад
                </button>
                <button
                  type="button"
                  class="form-quistions__button button--accent button button-continue"
                >
                  Далее
                </button>
              </div>
            </div>
            <!-- ИТОГ -->
            <div class="form-quistions" hidden>
              <fieldset class="form__fieldset">
                <legend class="form__legend">
                  <h2 class="form__title">
                    Мы уже приступили к расчету стоимости Вашего дома
                  </h2>
                </legend>
                <p class="form__description">
                  Оставьте ваш номер телефона и мы сообщим вам стоимость в
                  ближайшее время! А так же оставьте свою электронную
                  почту, чтобы получить <b>подарок “Дизайн проект”</b>
                </p>
                <ul class="form__list">
                  <li class="form__list-item">
                      <label for="{{ form.name.id_for_label }}" class="form__label"></label>
                      <!-- Поле ИМЯ -->
                      {{ form.name }}
                  </li>
                  <li class="form__list-item">
                      <label for="{{ form.phone_number.id_for_label }}" class="form__label"></label>
                      <!-- Поле НОМЕР ТЕЛЕФОНА -->
                      {{ form.phone_number }}
                  </li>
                  <li class="form__list-item">
                      <label for="{{ form.email.id_for_label }}" class="form__label"></label>
                      <!-- Поле ПОЧТА -->
                      {{ form.email }}
                  </li>
              </ul>
                <!-- Кнопка отправить -->
                <button
                  type="submit"
                  class="button button-submit button--accent form__button"
                >
                  Отправить
                </button>
                <p class="form__notification">
                  Нажимая кнопку «отправить» вы соглашаетесь на обработку
                  персональных данных
                </p>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
      <!-- изображение -->
      <img
        width="600"
        height="500"
        src="{% static "source/images/quiz-img-1.jpeg" %}"
        alt=""
        class="quiz__image hidden-mobile"
      />
    </div>
  </div>
</section>
{% endblock content %}
{% block js %}
<script src="{% static "quiz.js" %}"></script>
{% endblock js %}
    