{% load static %}

<section class="form-section">
  <div class="form-section__inner container">
      <img
          width="800"
          height="800"
          src="{% static 'source/images/form-image.jpeg' %}"
          alt=""
          class="form-section__img"
      />
      <form action="{% url 'main:index' %}" method="post" class="form form__main-page" id="contactForm">
          {% csrf_token %}
          <fieldset class="form__fieldset">
              <legend class="form__legend">
                  <h2 class="form__title">Остались вопросы?</h2>
              </legend>
              <p class="form__description">
                  Оставьте ваш номер телефона и мы вам перезвоним!
              </p>
              <ul class="form__list">
                  <li class="form__list-item">
                      {{ form.name }}
                  </li>
                  <li class="form__list-item">
                      {{ form.phone_number }}
                  </li>
                  <li class="form__list-item">
                      {{ form.city }}
                  </li>
              </ul>
              <button type="submit" class="button button-submit button--accent form__button">
                  Отправить
              </button>
              <p class="form__notification">
                  Нажимая кнопку «отправить» вы соглашаетесь на обработку
                  персональных данных
              </p>
          </fieldset>
      </form>
  </div>
</section>

<div class="overlay" hidden></div>

<!-- Скрытые элементы для URL-адресов статических файлов -->
<div id="static-files" data-success-icon="{% static 'source/icons/message-succeful.svg' %}" data-error-icon="{% static 'source/icons/message-error.svg' %}" hidden></div>